.footer {
  position: fixed;
  bottom: 0;
  font-size: bold;
  font-weight: bold;
  text-align: center;
  width: 100%;
  color: white;
  background-color: black;
  padding: 10px;
}

.items {
  margin: 50px;
}
